<div>
  <button class="hvid"> Alle </button>
  <button>Musik</button>
  <button>Podcast</button>
</div>

<style>
  .hvid {
    background-color: #ffffff;
    color: #000000;
  }
  button {
    background-color: #352b2a;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
  }
  div {
    margin: 20px;
  }
</style>
