---
import Searchbar from "./Searchbar.astro";
---

<nav>
  <img src="spotify_logo" alt="spotify logo" />
  <img src="home_icon" alt="home icon" />
  <Searchbar />
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    background-color: #000000;
    height: 50px;
  }
</style>
