---

---

<article>
  <img src="https://picsum.photos/id/364/150/150" alt="billede af sang" />
  <div>
    <h4>Titel på sang</h4>
    <p>Kunstner, Kunstner</p>
  </div>
  <p class="add">+</p>
</article>

<style>
  h4,
  p {
    color: #9d9d9d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
  article {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
  }

  h4 {
    font-weight: bold;
  }
  img {
    height: 50px;
    width: 50px;
    border-radius: 2px;
  }

  .add {
    padding-left: 20px;
  }
</style>
