<article>
  <div>
    <p>⇄</p>
    <p>⏮</p>
    <p>▷</p>
    <p>⏭</p>
    <p>↺</p>
  </div>
  <p>0:12 __________________________________________3:45</p>
</article>

<style>
  p {
    color: #ffffff;
  }
  article div {
    display: flex;
    gap: 10px;
  }
  div {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
