---

---

<div>
  <input type="text" placeholder="Hvad vil du afspille?" />
</div>

<style>
  input {
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
    background-color: #1f1f1f;
    border: none;
    outline: none;
    width: 400px;
  }
</style>
